[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.paddlepaddle.org.cn/packages/stable/cu130"
verify_ssl = true
name = "wwwpaddlepaddleorg"

[packages]
ultralytics = "*"
mss = "*"
opencv-python = "*"
easyocr = "*"
ollama = "*"
numpy = "*"
schedule = "*"
humanize = "*"
label-studio = "*"
treys = "*"
pygame = "*"
streamlit = "*"
Pillow = "*"
# paddleocr = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.7"
