[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://www.paddlepaddle.org.cn/packages/stable/cpu/"
verify_ssl = true
name = "wwwpaddlepaddleorg"

[packages]
ultralytics = "*"
mss = "*"
opencv-python = "*"
easyocr = "*"
evdev = "*"
ollama = "*"
numpy = "*"
schedule = "*"
humanize = "*"
noise = "*"
label-studio = "*"
treys = "*"
pygame = "*"
streamlit = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.0"
